@import '../../variables.scss';

.radio {
	-webkit-appearance: none;
	height: $height-small - 3;
	width: $height-small - 3;
	outline: none;
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 0;
	cursor: pointer;
	border: $border;
	border-radius: $border-radius-round;
	background: $color-white;
	transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;

	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 19px;
		height: 19px;
		border-radius: 50%;
		background: $color-white;
		transform: scale(0.7);
	}

	& + label {
		cursor: pointer;
		color: $text-color-regular;
		margin-left: 5px;
	}

	&:checked:after {
		transform: scale(0.5);
	}

	&:checked {
		background: $color-primary;
		border-color: $color-primary;
	}

	&:disabled {
		background: $disabled-bg-color;
		border-color: $disabled-border-color;
		cursor: not-allowed;
		opacity: 0.9;

		&:not(:checked):after {
			background: $disabled-bg-color;
			border-color: $disabled-bg-color;
		}

		&:checked {
			&:after {
				border-color: $disabled-text-color;
			}
		}

		& + label {
			cursor: not-allowed;
			color: $disabled-text-color;
		}
	}

	&:hover {
		&:not(:checked) {
			&:not(:disabled) {
				border-color: $color-primary;
			}
		}
	}
}
