@import '../../styles/colors.scss';
@import '../../styles/main.scss';
@import '../../styles/style.scss';

.input {
	display: flex;
	position: relative;

	& .input--label {
		position: absolute;
		top: -16px;
		font-size: 12px;
		line-height: 16px;
	}

	& .input--inner {
		padding: 12px 8px;
		border: $border;
		border-radius: $border-radius;
		background-color: $color-white;
		color: $color-grey;
		height: 48px;
		line-height: 24px;
		font-size: 16px;
		box-sizing: border-box;

		&::placeholder {
			color: $color-grey;
		}

		&:disabled {
			border-color: $color-mid-light-grey;
			color: $color-mid-light-grey;
			cursor: not-allowed;

			&::placeholder {
				color: $color-mid-light-grey;
			}

			.input--label + & {
				color: $color-mid-light-grey;
			}
		}

		&:not(:disabled) {
			&:hover {
			}
			&:active,
			&:focus {
			}
		}
	}
}
