@import '../../styles/colors.scss';
@import '../../styles/main.scss';
@import '../../styles/style.scss';

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	padding: 10px 30px;

	cursor: pointer;

	background-color: $color-grey;
	color: $color-white;
	border: $border;
	border-radius: $border-radius;

	font-weight: 700;
	font-size: 14px;
	line-height: 20px;

	&.is-round {
		border-radius: 100px;
	}

	&.is-plain {
		background-color: $color-white;
		color: $color-grey;
	}

	&:disabled {
		cursor: not-allowed;
		background-color: $color-mid-light-grey;
		border-color: $color-mid-light-grey;
	}

	&:not(:disabled) {
		&:not(.is-plain) {
			&:hover,
			&:focus {
				background-color: $color-mid-grey;
				border-color: $color-mid-grey;
			}

			&:active {
				background-color: $color-dark-grey;
				border-color: $color-dark-grey;
			}
		}

		&.is-plain {
			&:hover,
			&:focus {
				color: $color-mid-grey;
				border-color: $color-mid-grey;
			}

			&:active {
				color: $color-dark-grey;
				border-color: $color-dark-grey;
			}
		}
	}
}
