@import '../../styles/colors.scss';
@import '../../styles/main.scss';
@import '../../styles/style.scss';

.rate {
	display: flex;
	align-items: center;
	cursor: pointer;

	background-color: transparent;
	border: none;
	font-size: 18px;

	&:disabled {
		cursor: not-allowed;
		color: $color-mid-light-grey;
	}
}
