@import '../../variables.scss';

.select {
	appearance: none;
	padding: 0 10px;
	border: $border;
	border-radius: $border-radius-base;
	background-color: $fill-color-blank;
	color: $text-color-regular;
	height: $height;
	line-height: $height;
	outline: none;
	box-sizing: border-box;
	cursor: pointer;

	&::placeholder {
		color: $text-color-regular;
	}

	&::before {
		content: '';
		justify-self: end;
		width: 0.8em;
		height: 0.5em;
		background-color: var(--select-arrow);
		-webkit-clip-path: polygon(100% 0%, 0 0%, 50% 100%);
		clip-path: polygon(100% 0%, 0 0%, 50% 100%);
	}

	&::after {
		content: '';
		justify-self: end;
		width: 0.8em;
		height: 0.5em;
		background-color: var(--select-arrow);
		-webkit-clip-path: polygon(100% 0%, 0 0%, 50% 100%);
		clip-path: polygon(100% 0%, 0 0%, 50% 100%);
	}

	&--small {
		font-size: $font-size-small;
		height: $height-small;
		line-height: $height-small;
		padding: 0 7px;
		border-radius: $border-radius-small;
	}

	&--large {
		font-size: $font-size-large;
		padding: 0 15px;
		height: $height-large;
		line-height: $height-large;
	}
}
