@import '../../variables.scss';

.checkbox {
	-webkit-appearance: none;
	height: $height-small - 3;
	width: $height-small - 3;
	outline: none;
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 0;
	cursor: pointer;
	border: $border;
	border-radius: $border-radius-base;
	background: $color-white;
	transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;

	&:after {
		content: '';
		display: block;
		position: absolute;
		transform: rotate(43deg);
		width: 4px;
		height: 8px;
		border: 2px solid $color-white;
		border-top: 0;
		border-left: 0;
		left: 7px;
		top: 3px;
		opacity: 1;
	}

	& + label {
		cursor: pointer;
		color: $text-color-regular;
		margin-left: 5px;
	}

	&:checked {
		background: $color-primary;
		border-color: $color-primary;
	}

	&:disabled {
		background: $disabled-bg-color;
		border-color: $disabled-border-color;
		cursor: not-allowed;
		opacity: 0.9;
		&:after {
			border-color: $disabled-bg-color;
		}

		&:checked {
			&:after {
				border-color: $disabled-text-color;
			}
		}

		& + label {
			cursor: not-allowed;
			color: $disabled-text-color;
		}
	}

	&:hover {
		&:not(:checked) {
			&:not(:disabled) {
				border-color: $color-primary;
			}
		}
	}

	// &--small {
	// 	height: $height-small - 10;
	// 	width: $height-small - 10;
	// 	border-radius: $border-radius-base;
	// 	&:after {
	// 		width: 2px;
	// 		height: 4px;
	// 		left: 4px;
	// 		top: 2px;
	// 	}

	// 	& + label {
	// 		font-size: $font-size-small;
	// 		height: $height-small - 10;
	// 		line-height: $height-small - 10;
	// 	}
	// }

	// &--large {

	// }
}
