@import '../../styles/colors.scss';
@import '../../styles/main.scss';
@import '../../styles/style.scss';

.checkbox {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	cursor: pointer;

	& .checkbox--check {
		position: absolute;
		font-size: 20px;
		top: 2px;
	}

	& .checkbox--label {
		padding-left: 8px;

		color: $color-grey;

		font-size: 16px;
		line-height: 24px;
	}

	& .checkbox--inner {
		-webkit-appearance: none;
		box-sizing: border-box;
		outline: none;
		position: relative;
		margin: 0;

		cursor: pointer;

		width: 20px;
		height: 20px;

		background: $color-white;
		border: $border;
		border-radius: $border-radius;

		&:hover {
			&:not(:checked) {
				&:not(:disabled) {
				}
			}
		}
	}

	&.is-disabled {
		cursor: not-allowed;

		& .checkbox--inner {
			cursor: inherit;
			background: $color-light-grey;
			border-color: $color-mid-light-grey;
		}

		& .checkbox--check {
			color: $color-mid-light-grey;
		}

		& .checkbox--label {
			color: $color-mid-light-grey;
		}
	}
}
